<div class="lower-nav nav nav-pills nav-fill">
   <div class="content-wrapper content-wrapper_lower-nav p-r js-nav-container">
      <div class="nav-item lower-nav__link-block">
         <a href="https://www.timacad.ru/about" class="js-touch-detect lower-nav__link lower-nav__link--root  nav-link">
         {{=T('About university')}}
         </a>
         <div class="lower-nav__submenu js-submenu">
            <a href="https://www.timacad.ru/structure" class="lower-nav__submenu-link ">{{=T('University structure')}}</a>
            <a href="https://www.timacad.ru/sveden/" class="lower-nav__submenu-link ">{{=T('Information about the educational organization')}}</a>
            <a href="https://www.timacad.ru/about/antikorruptsionnaia-deiatelnost" class="lower-nav__submenu-link ">{{=T('Anticorruption activity')}}</a>
            <a href="https://www.timacad.ru/about/distantsionnoe-obuchenie-v-rgau-mskha" class="lower-nav__submenu-link ">{{=T('Distance learning at RSAU - MTAA')}}</a>
            <a href="https://www.timacad.ru/about/strategiia-i-programma-razvitiia-universiteta-do-2030-g" class="lower-nav__submenu-link ">{{=T('Strategy and development program of the University until 2030')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy50aW1hY2FkLnJ1L2FkbWluaXN0cmF0aW9u" class="lower-nav__submenu-link ">{{=T('Guide')}}</a>
            <a href="https://www.timacad.ru/abitur" class="lower-nav__submenu-link ">{{=T('Entrants')}}</a>
            <a href="https://www.timacad.ru/about/nas-pozdravliaiut" class="lower-nav__submenu-link ">{{=T('Congratulations')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy5kb2MudGltYWNhZC5ydS8=" class="lower-nav__submenu-link ">{{=T('Documents and forms')}}</a>
            <a href="https://www.timacad.ru/about/muzei" class="lower-nav__submenu-link ">{{=T('Museums')}}</a>
            <a href="https://www.timacad.ru/about/dostizheniia" class="lower-nav__submenu-link ">{{=T('Achievements')}}</a>
            <a href="https://www.timacad.ru/about/vakantnye-dolzhnosti-universiteta" class="lower-nav__submenu-link ">{{=T('Vacant posts of the University')}}</a>
            <a href="https://www.timacad.ru/about/contacts" class="lower-nav__submenu-link ">{{=T('Contacts')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy5saWJyYXJ5LnRpbWFjYWQucnUv" class="lower-nav__submenu-link ">{{=T('Central Scientific Library named after N.I. Zheleznov')}}</a>
            <a href="https://www.timacad.ru/about/press-sluzhba" class="lower-nav__submenu-link ">{{=T('Press service')}}</a>
            <a href="https://www.timacad.ru/about/uchebno-metodicheskie-obedineniia" class="lower-nav__submenu-link ">{{=T('Educational and methodological associations')}}</a>
            <a href="https://www.timacad.ru/about/produktsiia-timiriazevki" class="lower-nav__submenu-link ">{{=T('Products Of Timiryazevka')}}</a>
         </div>
      </div>
      <div class="nav-item lower-nav__link-block">
         <a href="https://www.timacad.ru/education" class="js-touch-detect lower-nav__link lower-nav__link--root  nav-link">
         {{=T('Training')}}
         </a>
         <div class="lower-nav__submenu js-submenu">
            <a href="https://www.timacad.ru/education/instituty" class="lower-nav__submenu-link ">{{=T('Institutes')}}</a>
            <a href="https://www.timacad.ru/education/fakultety" class="lower-nav__submenu-link ">{{=T('Faculties')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3ZrLnRpbWFjYWQucnUv" class="lower-nav__submenu-link ">{{=T('Military training center')}}</a>
            <a href="https://www.timacad.ru/about/struktura-universiteta/instituty/ipk" class="lower-nav__submenu-link ">{{=T('Advanced training')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy50aW1hY2FkLnJ1L2Fib3V0L3N0cnVrdHVyYS11bml2ZXJzaXRldGEvcG9kcmF6ZGVsZW5paWEtb3JnYW5pemF0c2lpLXVjaGVibm9nby1wcm90c2Vzc2EvdWNoZWJuby1tZXRvZGljaGVza29lLXVwcmF2bGVuaWU=" class="lower-nav__submenu-link ">{{=T('Educational and methodological management')}}</a>
            <a href="https://www.timacad.ru/education/inkliuzivnoe-obrazovanie" class="lower-nav__submenu-link ">{{=T('Inclusive education')}}</a>
            <a href="https://www.timacad.ru/education/dni-karery-stazhirovki-treningi" class="lower-nav__submenu-link ">{{=T('Career days, internships, trainings')}}</a>
            <a href="https://www.timacad.ru/education/aspirantura-i-doktorantura" class="lower-nav__submenu-link ">{{=T('Postgraduate and doctoral studies')}}</a>
         </div>
      </div>
      <div class="nav-item lower-nav__link-block">
         <a href="https://www.timacad.ru/incoming" class="js-touch-detect lower-nav__link lower-nav__link--root  nav-link">
         {{=T('Entrants')}}
         </a>
         <div class="lower-nav__submenu js-submenu">
            <a href="https://www.timacad.ru/incoming/den-otkrytykh-dverei" class="lower-nav__submenu-link ">{{=T('Open day')}}</a>
         </div>
      </div>
      <div class="nav-item lower-nav__link-block">
         <a href="https://www.timacad.ru/science" class="js-touch-detect lower-nav__link lower-nav__link--root  nav-link">
         {{=T('Science and innovation')}}
         </a>
         <div class="lower-nav__submenu js-submenu">
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy5vbGQudGltYWNhZC5ydS9zY2llbmNlL290ZGVsLWRpc3NlcnRhdHNpb25ueWtoLXNvdmV0b3YvaW5kZXgucGhwLw==" class="lower-nav__submenu-link ">{{=T('Dissertation board')}}</a>
            <a href="https://www.timacad.ru/science/aktualnye-konkursy-i-granty" class="lower-nav__submenu-link ">{{=T('Current competitions and grants')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy50aW1hY2FkLnJ1L2Fib3V0L3N0cnVrdHVyYS11bml2ZXJzaXRldGEvdWNoZWJuby1uYXVjaG55ZS1wb2RyYXpkZWxlbmlpYS91cHJhdmxlbmllLW5hdWNobm9pLWRlaWF0ZWxub3N0aQ==" class="lower-nav__submenu-link ">{{=T('Department of scientific activity')}}</a>
            <a href="https://www.timacad.ru/science/nauchnye-podrazdeleniia" class="lower-nav__submenu-link ">{{=T('Scientific division')}}</a>
            <a href="https://www.timacad.ru/uploads/files/20191203/katalog_rid_2019.pdf" class="lower-nav__submenu-link ">{{=T('Catalog of scientific developments')}}</a>
            <a href="https://www.timacad.ru/science/tochki-realizatsii-produktsii-timiriazevki" class="lower-nav__submenu-link ">{{=T('Points of sale of Timiryazevka products')}}</a>
            <a href="https://www.timacad.ru/science/daidzhest" class="lower-nav__submenu-link ">{{=T('Digest')}}</a>
            <a href="https://www.timacad.ru/science/sovet-molodykh-uchenykh" class="lower-nav__submenu-link ">{{=T('young scientists Council')}}</a>
            <a href="https://www.timacad.ru/science/konferentsii" class="lower-nav__submenu-link ">{{=T('Conferences')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy5zYWJpLnRpbWFjYWQucnUv" class="lower-nav__submenu-link ">{{=T('Branch agricultural business incubator')}}</a>
            <a href="https://www.timacad.ru/science/izdaniia" class="lower-nav__submenu-link ">{{=T('Editions')}}</a>
         </div>
      </div>
      <div class="nav-item lower-nav__link-block">
         <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy5pbnRlci50aW1hY2FkLnJ1Lw==" class="js-touch-detect lower-nav__link lower-nav__link--root  nav-link">
         {{=T('International activity')}}
         </a>
      </div>
      <div class="nav-item lower-nav__link-block">
         <a href="https://www.timacad.ru/student-life" class="js-touch-detect lower-nav__link lower-nav__link--root  nav-link">
         {{=T("Student's life")}}
         </a>
         <div class="lower-nav__submenu js-submenu">
            <a href="https://www.timacad.ru/student-life/prozhivanie" class="lower-nav__submenu-link ">{{=T('Accommodation in a hostel')}}</a>
            <a href="https://www.timacad.ru/about/struktura-universiteta/upravlenie-po-vospitatelnoi-rabote-i-molodezhnoi-politike/psikholog" class="lower-nav__submenu-link ">{{=T('Psychologist')}}</a>
            <a href="https://www.timacad.ru/student-life/meditsinskoe-obespechenie" class="lower-nav__submenu-link ">{{=T('Medical support')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy50aW1hY2FkLnJ1L2ltZy9yYXN0ci9rYW1wdXMtbWFwLmpwZw==" class="lower-nav__submenu-link ">{{=T('Map of the territory')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy50aW1hY2FkLnJ1L2Fib3V0L3N0cnVrdHVyYS11bml2ZXJzaXRldGEvdWNoZWJuby1uYXVjaG55ZS1wb2RyYXpkZWxlbmlpYS90c2VudHItb2JyYXpvdmF0ZWxub2ktc3BvcnRpdm5vaS1pLWt1bHR1cm5vLW1hc3Nvdm9pLXJhYm90eQ==" class="lower-nav__submenu-link ">{{=T('Sports and cultural events')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy50aW1hY2FkLnJ1L2Fib3V0L3N0cnVrdHVyYS11bml2ZXJzaXRldGEvc3R1ZGVuY2hlc2tpZS1vcmdhbml6YXRzaWk=" class="lower-nav__submenu-link ">{{=T('Student organization')}}</a>
            <a href="https://www.timacad.ru/go/aHR0cDovL3d3dy50aW1hY2FkLnJ1L2Fib3V0L3N0cnVrdHVyYS11bml2ZXJzaXRldGEvc3R1ZGVuY2hlc2tpZS1vcmdhbml6YXRzaWkvdm9sb250ZXJza2lpLXRzZW50cg==" class="lower-nav__submenu-link ">{{=T('Volunteer centre')}}</a>
            <a href="https://www.timacad.ru/student-life/antiterroristicheskaia-i-antiekstremistskaia-deiatelnost" class="lower-nav__submenu-link ">{{=T('Anti-terrorist and anti-extremist activities')}}</a>
            <a href="https://www.timacad.ru/student-life/tsentr-dosuga-studentov" class="lower-nav__submenu-link ">{{=T('Center of leisure of students')}}</a>
            <a href="https://www.timacad.ru/about/struktura-universiteta/upravlenie-po-vospitatelnoi-rabote-i-molodezhnoi-politike" class="lower-nav__submenu-link ">{{=T('Department for educational work and youth policy')}}</a>
            <a href="https://www.timacad.ru/about/struktura-universiteta/administrativno-khoziaistvennye-podrazdeleniia/kombinat-obshchestvennogo-pitaniia" class="lower-nav__submenu-link ">{{=T('Public catering plant')}}</a>
         </div>
      </div>
   </div>
</div>