{{extend 'layout.html'}}
<h1 class="h1">{{=T('Application for admission to graduate school')}}</h1>
{{include 'btn_menu_mag_and_asp.html'}}
<script src="{{=URL('static','js/jquery.maskedinput2.js')}}"></script>

{{=form1}}

<script>
    $(function() {
        $('#doc_kodp').mask('999-999');

        if ($('#country').val() != 1) {
            $('#region').val(1001);
            $('#colRegion').hide();
        }

        $('#country').on('change', function() {
            if ($('#country').val() != 1) {
                $('#region').val(1001);
                $('#colRegion').hide();
            } else {
                $('#colRegion').show();
            }
        });
    });
</script>
